@model WebApp.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">Something went wrong while processing your request.</h2>

<p>Please try again later.</p>
